/* Mobile and Global Styles */
/* Applies to screens smaller than 500px and above unless overwritten below */

ul, a, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #212830;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#intro {
  color: #ffffff;
  text-align: center;
  margin: 8rem 1rem;
  font-size: 2rem;
}

#intro p {
  font-size: 1.5rem;
}

#intro a {
  color: white;
  font-size: 5rem;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#intro a:hover {
  color: #15eded;
}

#main {
  margin: 4rem;
  box-shadow: 10px 10px 5px;

}

#mainNav {
  background-color: #f1eeee4d;
  opacity: 0.4;
}

#mainNav ul {
  display: flex;
  flex-direction: column;
}

#mainNav a {
  padding: 2rem 0rem;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#about {
  display: block;
}

#workEducation {
  display: none;
}

#projects {
  display: none;
}

#interests {
  display: none;
}

.section {
  background-color: #aaaaaa;
  height: 4rem;
  padding: 2rem;
}

#socialsNav {
  background-color: #aaaaaa;
  padding: 1rem 0rem;
  text-align: center;
}

#socialsNav a {
  padding: 1rem;
  font-size: 2rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#socialsNav a.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
}

.fa-instagram {
  background: #125688;
}

.fa-google {
  background: #F16041;
}

.fa-steam {
  background: #1A2B3D;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-github {
  background: #530432;
}


/* Tablet Styles */

@media screen and (min-width: 500px) {

  #mainNav ul {
    flex-direction: row;
  }

}

/* Desktop Styles */

@media screen and (min-width: 1000px) {

}
